name: svc-users-ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-test:
    uses: jagadeesh-ml/platform/.github/workflows/reusable-ci.yml@main
    with:
      service_name: svc-users
      path_filter: "."
